.general{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

h1 {
  
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.nav p {
  font-size: large;
  border: none;
  background-color: white;
  cursor: pointer;
}

.addTodo {
  display: flex;
  justify-content: space-between;
}

.addTodo input {
  width: 70%;
  height: 30px;
  border: 1px solid rgba(131, 129, 129, 0.424);
  border-radius: 10px;
  padding: 10px;
}

.addTodo button {
  width: 20%;
  height: 50px;
  background-color: #0084F5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.task {
  display: flex;
  font-size: x-large;
  justify-content: space-between;
}

.active {
  font-size: larger;
}

.false {
  font-size: larger;
  text-decoration: line-through;
}


.delete {
  width: 150px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.Completed {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.Completed button {
  position: absolute;
  bottom: 100px;
  right: 0;
}